body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}

.search-bar {
  margin: 20px 0px;
}

.search-bar .search-bar-input {
  width: 60%;
}

svg {
  height: 150px;
}
